lxml==5.3.0
matplotlib==3.10.1
mealpy==3.0.1
networkx==3.4.2
numpy==2.2.3
osmnx==2.0.1
pandas==2.2.3
pygad==3.4.0
pytest==8.3.4
pyufunc==0.3.8
PyYAML==6.0.2
Requests==2.32.3
Shapely==2.0.7
traci==1.22.0
